.top-page{
    height: 100vh;
    width: 100vw;
    background-image: url(./pexels-veeterzy-1412235.jpg);
    background-size: cover;
    background-repeat: repeat;
}

header {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
}
.header-right {
    margin-left: auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
li {
    font-size: 20px;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color:black;
}

/*main visual のcss*/
.main-visual {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-visual h1 {
    font-size: 120px;
    color:white;
    text-align: center;
}
.main-visual p {
    font-size: 26px;
    color: white;
    width: 80%;
    margin-top: 30px;
    text-align: center;
}